@import "../../App.scss";

.contactContainer {
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80dvh;
  position: relative;

  @include mobile {
    height: auto;
    padding: 3rem 1.5rem;
  }

  .contactBody {
    display: flex;
    justify-content: space-around;
    width: 75%;
    padding: 2.5rem 2.5rem 2rem 2.5rem;
    border-radius: 15px;
    background-color: #f9f18f;
    gap: 2rem;
    z-index: 1000;
    position: absolute;
    top: 2rem;
    box-shadow: 0 0 30px 5px #e1b611;

    @include mobile {
      flex-direction: column;
      width: 100%;
      padding: 1.5rem 1rem 1rem 1rem;
      gap: 1rem;
      top: 0;
      position: relative;
    }

    .leftContact {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 40%;

      @include mobile {
        width: 100%;
        gap: .5rem;
      }

      .connection {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        @include mobile {
          gap: 0.3rem;
        }

        h2 {
          font-size: 2rem;

          @include mobile {
            font-size: 1.4rem;
          }
        }

        p {
          @include mobile {
            font-size: 0.9rem;
          }
        }
      }
      .location:hover,
      .mail:hover,
      .phone:hover {
        transform: scale(1.03);
        box-shadow: 1px 1px 5px #6d4216;
      }

      .location,
      .mail,
      .phone {
        background-color: #fcf9c5;
        display: flex;
        padding: 1rem 1.5rem;
        gap: 1rem;
        border-radius: 5px;
        cursor: pointer;

        @include mobile {
          padding: 0.5em .3rem;
          gap: 0;
        }

        .location:hover,
        .mail:hover,
        .phone:hover {
          transform: scale(1.05);
          box-shadow: 1px 1px 5px #6d4216;

          @include mobile {
            display: none;
          }
        }

        .iconDiv {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem 0.8rem;
          font-size: 2rem;
          height: 3rem;
          border-radius: 5px;
          color: #c28e0c;

          @include mobile {
            display: none;
          }

          &:hover {
            background-color: #f1cf1e;
          }
        }

        .address {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          color: #2f2f2f;

          @include mobile {
            flex-direction: row;
            gap: 0.1em;
            width: 100%;

            address {
              font-size: .9rem;
            }

            a {
              font-size: .9rem;
            }

            p {
              font-size: 0.9rem;
            }
          }

          .locationType {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;

            @include mobile {
              font-size: .9rem;
            }
          }
        }
      }
      .socials {
        display: flex;
        gap: 1.5rem;
        font-size: 2.5rem;
        color: #c28e0c;
        padding: 1rem;

        @include mobile {
          display: none;
        }

        .facebook,
        .instagram,
        .xTwitter,
        .linkedin {
          padding: 0.5rem;
          border-radius: 5px;
        }

        .facebook:hover,
        .instagram:hover,
        .xTwitter:hover,
        .linkedin:hover {
          transform: scale(1.2);
        }
      }
    }

    .rightForm {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      width: 50%;

      @include mobile {
        width: 100%;
        gap: .5rem;
      }

      .rightStart {
        text-align: center;
        font-size: 1.2rem;

        @include mobile {
         display: none;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 70%;
        gap: 0.5rem;

        @include mobile {
          width: 100%;
          gap: 0.2rem;
        }

        input,
        textarea {
          padding: 0.8rem 1rem;
          background-color: #fcf9c5;
          border: 2px solid #c28e0c;
          color: #402208;
          border-radius: 5px;
          font-size: 1.2rem;

          @include mobile {
            font-size: 0.9rem;
            padding: .4rem .5rem;
          }
        }

        label {
          font-weight: bold;

          @include mobile {
            font-size: 0.9rem;
          }
        }

        .required::after {
          content: " *";
          color: red;
          font-size: 1.2rem;

          @include mobile {
            font-size: 1rem;
          }
        }

        input:focus,
        textarea:focus {
          outline: #c28e0c;
          border: 1px solid #c28e0c;
        }
        button {
          padding: 0.7rem;
          border: none;
          color: #2f2f2f;
          background-color: #e1b611;
          font-size: 1.2rem;
          font-weight: 600;
          width: 80%;
          margin: auto;
          cursor: pointer;
          border-radius: 5px;
          margin-top: 1rem;

          &:hover {
            background-color: #c28e0c;
          }

          @include mobile {
            font-size: 1.1rem;
            padding: .5rem;
            width: 100%;
          }
        }
      }
    }
  }
}
