@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets//fonts/helvetica-neu.ttf") format("ttf");
}
@font-face {
  font-family: "La Belle Aurore";
  src: url("./assets//fonts/LaBelleAurore.woff2") format("woff2");
}
@font-face {
  font-family: "Coolvetica";
  src: url("./assets//fonts/CoolveticaRg-Regular.woff2") format("woff2");
}
input,
textarea {
  font-family: "Helvetica Neue";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  color: #6d6d6d;
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-spacing: -1px;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  background-color: #3d3d3d;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5rem 0 0 0;
  position: relative;
  bottom: 0;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .footer {
    padding: 2rem 0 0 0;
    margin: auto;
  }
  .footer html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .footer #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 2rem 0 0 0;
    margin: auto;
  }
  .footer html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .firstFooter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 4rem 2rem 4rem;
  border-bottom: 1px solid #efefef;
  align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .footer .firstFooter {
    justify-content: space-between;
    padding: 0 2rem 1rem 2rem;
  }
  .footer .firstFooter html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .footer .firstFooter #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .footer .firstFooter {
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
    gap: 1.5rem;
  }
  .footer .firstFooter html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .footer .firstFooter .logoOriginal {
    display: none;
  }
  .footer .firstFooter .logoOriginal html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .footer .firstFooter .logoOriginal #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .footer .firstFooter .logoOriginal {
    display: none;
  }
  .footer .firstFooter .logoOriginal html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .firstFooter .logoOriginal > img {
  border-radius: 50%;
  flex: 1;
}
.footer .firstFooter .footerLinks {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin: auto;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .footer .firstFooter .footerLinks {
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    width: -moz-fit-content;
    width: fit-content;
    gap: 0;
  }
  .footer .firstFooter .footerLinks html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .footer .firstFooter .footerLinks #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .footer .firstFooter .footerLinks {
    flex-basis: 100%;
    padding: 0 1rem;
    justify-content: space-between;
    width: -moz-fit-content;
    width: fit-content;
    gap: 0;
  }
  .footer .firstFooter .footerLinks html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .firstFooter .footerLinks ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 80%;
  gap: 2rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .footer .firstFooter .footerLinks ul {
    width: 100%;
    padding: 0 3rem;
    justify-content: center;
    align-items: center;
  }
  .footer .firstFooter .footerLinks ul html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .footer .firstFooter .footerLinks ul #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .footer .firstFooter .footerLinks ul {
    width: 50%;
    justify-content: space-around;
    padding-left: 1em;
  }
  .footer .firstFooter .footerLinks ul html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .firstFooter .footerLinks ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #dcdcdc;
  cursor: pointer;
}
@media (max-width: 480px) {
  .footer .firstFooter .footerLinks ul li {
    font-size: 0.95rem;
    cursor: none;
    justify-content: space-around;
  }
  .footer .firstFooter .footerLinks ul li html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .firstFooter .footerLinks ul li:hover {
  text-decoration: underline;
  text-decoration-color: #989898;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
@media (max-width: 480px) {
  .footer .firstFooter .footerLinks ul li:hover {
    text-decoration: none;
  }
  .footer .firstFooter .footerLinks ul li:hover html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .firstFooter .footerLinks .externalLinks {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 80%;
  gap: 2rem;
}
@media (max-width: 480px) {
  .footer .firstFooter .footerLinks .externalLinks {
    width: 50%;
    margin-left: -4rem;
  }
  .footer .firstFooter .footerLinks .externalLinks html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .firstFooter .footerLinks .externalLinks a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #dcdcdc;
  cursor: pointer;
}
@media (max-width: 480px) {
  .footer .firstFooter .footerLinks .externalLinks a {
    font-size: 0.92rem;
    gap: 1rem;
    cursor: none;
  }
  .footer .firstFooter .footerLinks .externalLinks a html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .firstFooter .footerLinks .externalLinks a:hover {
  text-decoration: underline;
  text-decoration-color: #989898;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
@media (max-width: 480px) {
  .footer .firstFooter .footerLinks .externalLinks a:hover {
    text-decoration: none;
  }
  .footer .firstFooter .footerLinks .externalLinks a:hover html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .firstFooter .socials {
  display: none;
  margin-top: 2rem;
  margin: auto;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .footer .firstFooter .socials {
    display: block;
    font-size: 1.5rem;
  }
  .footer .firstFooter .socials html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .footer .firstFooter .socials #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .footer .firstFooter .socials {
    display: block;
  }
  .footer .firstFooter .socials html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .firstFooter .socials ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  font-size: 2rem;
  color: #989898;
  padding: 1.5rem 0 0 0;
}
@media (max-width: 480px) {
  .footer .firstFooter .socials ul {
    gap: 1rem;
  }
  .footer .firstFooter .socials ul html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .firstFooter .socials ul li {
  list-style-type: none;
}
.footer .firstFooter .socials ul .facebook,
.footer .firstFooter .socials ul .instagram,
.footer .firstFooter .socials ul .xTwitter,
.footer .firstFooter .socials ul .linkedin {
  padding: 0.5rem;
  border-radius: 5px;
}
.footer .secondFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .footer .secondFooter {
    padding: 0.7rem 0;
  }
  .footer .secondFooter html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .footer .secondFooter #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .footer .secondFooter {
    padding: 0.5rem 0;
  }
  .footer .secondFooter html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.footer .secondFooter .rights {
  color: #989898;
  font-size: 1rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .footer .secondFooter .rights {
    font-size: 0.9rem;
  }
  .footer .secondFooter .rights html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .footer .secondFooter .rights #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .footer .secondFooter .rights {
    font-size: 0.8rem;
  }
  .footer .secondFooter .rights html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}/*# sourceMappingURL=footer.css.map */