@import "../../App.scss";

.footer {
  background-color: #805113;
  display: flex;
  flex-direction: column;
  padding: 5rem 0 0 0;

  @include mobile {
    padding: 2rem 0 0 0;
    margin: auto;
  }

  .firstFooter {
    display: flex;
    justify-content: space-around;
    padding: 0 4rem 2rem 4rem;
    border-bottom: 1px solid #9b660d;

    @include mobile {
      flex-direction: column;
      padding: 0 1rem 1rem 1rem;
    }

    .logoOriginal {
      @include mobile {
        // text-align: center;
        display: none;
      }
    }
    .logoOriginal > img {
      border-radius: 50%;
    }

    .footerLinks {
      width: 60%;
      display: flex;
      justify-content: center;
      gap: 2rem;


      @include mobile {
        width: 100%;
        gap: 0;
        padding: 0 0 0 2rem;
        // flex-direction: column;
      }

      ul {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 80%;
        gap: 2rem;

        @include mobile {
          width: 100%;
          justify-content: space-evenly;
          gap: 1rem;
        }

        // .wwd {

        //       @include mobile {
        //         display: none;
        //       }
        //     }

        li {
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 1.2rem;
          font-weight: 500;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: #f9f08f;
          cursor: pointer;

          @include mobile {
            font-size: 0.9rem;
            cursor: none;
            justify-content: space-evenly;
          }

          &:hover {
            text-decoration: underline;
            text-decoration-color: #f1cf1e;
            text-decoration-thickness: 5px;

            @include mobile {
              text-decoration: none;
            }
          }
        }
      }

      .externalLinks {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 80%;
        gap: 2rem;

        @include mobile {
          width: 100%;
          margin-left: -4rem;
        }

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 1.2rem;
          font-weight: 500;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: #f9f08f;
          cursor: pointer;

          @include mobile {
            font-size: 0.9rem;
            gap: 1rem;
            cursor: none;
          }

          &:hover {
            text-decoration: underline;
            text-decoration-color: #f1cf1e;
            text-decoration-thickness: 5px;

            @include mobile {
              text-decoration: none;
            }
          }
        }
      }
    }

    .socials {
        margin-top: 2rem;

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;     
        gap: 1.5rem;
        font-size: 1.5rem;
        color: #e1b611;
        padding: 1.5rem 0 0 0;

        @include laptop {
          display: none;
        }

        li {
          list-style-type: none;
        }

        .facebook,
        .instagram,
        .xTwitter,
        .linkedin {
          padding: 0.5rem;
          border-radius: 5px;
        }
      }
    }
  }

  .secondFooter {
    background: #8b5712;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    @include mobile {
      padding: 0.5rem 0;
    }

    .rights {
      color: #f5e24f;
      font-size: 1rem;

      @include mobile {
        font-size: 0.8rem;
      }
    }
  }
}
