@font-face {
  font-family: "Helvetica Neue";
  src: url("./assets//fonts/helvetica-neu.ttf") format("ttf");
}
@font-face {
  font-family: "La Belle Aurore";
  src: url("./assets//fonts/LaBelleAurore.woff2") format("woff2");
}
@font-face {
  font-family: "Coolvetica";
  src: url("./assets//fonts/CoolveticaRg-Regular.woff2") format("woff2");
}
input,
textarea {
  font-family: "Helvetica Neue";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
  color: #6d6d6d;
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  word-spacing: -1px;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.testimonialContainer {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 4rem 2rem 4rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .testimonialContainer {
    height: auto;
    padding: 0 2rem;
  }
  .testimonialContainer html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .testimonialContainer #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .testimonialContainer {
    height: auto;
    padding: 0 2rem;
  }
  .testimonialContainer html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.testimonialContainer h2 {
  font-size: 4rem;
  color: #9b660d;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .testimonialContainer h2 {
    font-size: 2.8rem;
  }
  .testimonialContainer h2 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .testimonialContainer h2 #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .testimonialContainer h2 {
    font-size: 2rem;
  }
  .testimonialContainer h2 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.testimonialContainer .testimonies {
  display: flex;
  width: 100%;
  padding: 5rem 0;
  justify-content: space-around;
  gap: 1rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .testimonialContainer .testimonies {
    width: 80%;
    gap: 2rem;
  }
  .testimonialContainer .testimonies html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .testimonialContainer .testimonies #section {
    height: 30rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .testimonialContainer .testimonies {
    width: 100%;
    margin-right: 10px;
  }
  .testimonialContainer .testimonies .eachTestimony {
    width: -moz-fit-content;
    width: fit-content;
  }
  .testimonialContainer .testimonies .slick-slider {
    margin: 0 auto;
    width: 45%;
  }
  .testimonialContainer .testimonies .slick-prev,
  .testimonialContainer .testimonies .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(225, 181, 17, 0.5);
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .testimonialContainer .testimonies .slick-prev {
    left: 0;
  }
  .testimonialContainer .testimonies .slick-next {
    right: 0;
  }
  .testimonialContainer .testimonies html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .testimonialContainer .testimonies #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .testimonialContainer .testimonies {
    padding: 2rem 0;
    flex-wrap: wrap;
  }
  .testimonialContainer .testimonies .eachTestimony {
    width: 80%;
    gap: 1rem;
  }
  .testimonialContainer .testimonies .slick-slider {
    margin: 0 auto;
    width: 90%;
  }
  .testimonialContainer .testimonies .slick-prev,
  .testimonialContainer .testimonies .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(225, 181, 17, 0.5);
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .testimonialContainer .testimonies .slick-prev {
    left: 0;
  }
  .testimonialContainer .testimonies .slick-next {
    right: 0;
  }
  .testimonialContainer .testimonies html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.testimonialContainer .testimonies .eachTestimony {
  padding: 2rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 2px solid #888888;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .testimonialContainer .testimonies .eachTestimony {
    width: 45%;
    gap: 3rem;
  }
  .testimonialContainer .testimonies .eachTestimony html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .testimonialContainer .testimonies .eachTestimony #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .testimonialContainer .testimonies .eachTestimony {
    width: 80%;
    gap: 1rem;
    height: 22rem;
    border-radius: 1rem;
  }
  .testimonialContainer .testimonies .eachTestimony html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.testimonialContainer .testimonies .eachTestimony:hover {
  transform: translateY(-20px);
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .testimonialContainer .testimonies .eachTestimony:hover {
    transform: translateY(0);
  }
  .testimonialContainer .testimonies .eachTestimony:hover html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .testimonialContainer .testimonies .eachTestimony:hover #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .testimonialContainer .testimonies .eachTestimony:hover {
    transform: translateY(0);
  }
  .testimonialContainer .testimonies .eachTestimony:hover html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .testimonialContainer .testimonies h3 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .testimonialContainer .testimonies h3 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .testimonialContainer .testimonies h3 #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .testimonialContainer .testimonies h3 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .testimonialContainer .testimonies h3 html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.testimonialContainer .testimonies .testimony {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
  color: rgb(83, 83, 83);
  font-family: "La Belle Aurore";
}
.testimonialContainer .testimonies .testimony .leftQuote {
  font-size: 0.8rem;
  display: flex;
  align-self: flex-start;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .testimonialContainer .testimonies .testimony .leftQuote {
    font-size: 0.6rem;
  }
  .testimonialContainer .testimonies .testimony .leftQuote html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .testimonialContainer .testimonies .testimony .leftQuote #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .testimonialContainer .testimonies .testimony .leftQuote {
    font-size: 0.6rem;
  }
  .testimonialContainer .testimonies .testimony .leftQuote html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.testimonialContainer .testimonies .testimony .rightQuote {
  font-size: 0.8rem;
  display: flex;
  align-self: flex-end;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .testimonialContainer .testimonies .testimony .rightQuote {
    font-size: 0.6rem;
  }
  .testimonialContainer .testimonies .testimony .rightQuote html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .testimonialContainer .testimonies .testimony .rightQuote #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .testimonialContainer .testimonies .testimony .rightQuote {
    font-size: 0.6rem;
  }
  .testimonialContainer .testimonies .testimony .rightQuote html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.testimonialContainer .testimonies .testimony .testimonialParagraph {
  line-height: 1.4;
  padding-left: 1rem;
  text-align: justify;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .testimonialContainer .testimonies .testimony .testimonialParagraph {
    line-height: 1.3;
    font-size: 1em;
    padding: 0 1rem;
  }
  .testimonialContainer .testimonies .testimony .testimonialParagraph html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .testimonialContainer .testimonies .testimony .testimonialParagraph #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .testimonialContainer .testimonies .testimony .testimonialParagraph {
    line-height: 1.2;
    font-size: 0.9em;
    padding: 0 1rem;
  }
  .testimonialContainer .testimonies .testimony .testimonialParagraph html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.testimonialContainer .testimonies .stars {
  color: #e1b511;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .testimonialContainer .testimonies .stars {
    font-size: 1rem;
    gap: 0.5rem;
  }
  .testimonialContainer .testimonies .stars html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
  .testimonialContainer .testimonies .stars #section {
    height: 30rem;
  }
}
@media (max-width: 480px) {
  .testimonialContainer .testimonies .stars {
    font-size: 1rem;
    gap: 0.5rem;
  }
  .testimonialContainer .testimonies .stars html {
    scroll-snap-type: none;
    scroll-snap-align: none;
  }
}
.testimonialContainer .testimonies .testImage {
  border-radius: 50%;
  margin: auto;
}/*# sourceMappingURL=testimonies.css.map */