@import "../../App.scss";

.testimonialContainer {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;

  @include mobile {
      height: auto;
      padding: 0 2rem;
  }

  h1 {
    font-size: 4rem;
    color: #9b660d;

    @include mobile {
        font-size: 2rem;
    }
  }

  .testimonies {
    display: flex;
    width: 100%;
    padding: 5rem 0;
    justify-content: space-around;

    @include tablet {
      width: 100%;
      
      .eachTestimony {
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }

      .slick-slider {
        margin: 0 auto;
        width: 100%;
        //   max-width: 850px; /* Adjust as needed */
      }

      .slick-prev,
      .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        background-color: rgba(225, 181, 17, 0.7);
        border: none;
        cursor: pointer;
        z-index: 1;
      }

      .slick-prev {
        left: 0;
      }

      .slick-next {
        right: 0;
      }
    }

    @include mobile {
      .singlePictures {
        width: fit-content;
      }

      .slick-slider {
        margin: 0 auto;
        width: 100%;
        //   max-width: 850px; /* Adjust as needed */
      }

      .slick-prev,
      .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2.5rem;
        height: 2.5rem;
        background-color: rgba(225, 181, 17, 0.7);
        border: none;
        cursor: pointer;
        z-index: 1;
      }

      .slick-prev {
        left: 0;
      }

      .slick-next {
        right: 0;
      }
    }

    .eachTestimony {
        width: 23%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border: 2px solid #9b660d;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        padding: 2rem 1rem;

        .testimony {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: .5rem;
            color: rgb(83, 83, 83);
            font-family: "La Belle Aurore";

            .leftQuote {
                margin-left: -18rem;
            }

            .rightQuote {
                margin-right: -18rem;
            }

            .testimonialParagraph {
                line-height: 1.4;
                letter-spacing: 2px;
                text-align: start;
                text-wrap: balance;
                padding-left: 1rem;
            }
        }

        .stars {
            color: #e1b511;
            display: flex;
            gap: .3rem;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
        }

        .testImage {
            border-radius: 50%;
            margin: auto;
        }
    }


  }
}
